font { font-family: 新細明體; font-size: 12pt }
body { font-family: 新細明體; font-size: 12pt }
table { font-family: 新細明體; font-size: 12pt }
tbody { font-family: 新細明體; font-size: 12pt }
p { font-family: 新細明體; font-size: 12pt }
form { font-family: 新細明體; font-size: 12pt }
